<h1>Evaluations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Candidate</th>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= link_to evaluation.candidate, evaluation.candidate %></td>
        <td><%= link_to evaluation.user, evaluation.user %></td>
        <td><%= evaluation.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
