<% content_for :title, 'Statistiques des dossiers' %>

<div class="row">
    <div class="col-md-6">
        <h3>Boursiers</h3>
        <%= pie_chart [
            ['Boursiers', (100.0 * Candidate.where(scholarship: true).count / Candidate.count).round],
            ['Non boursiers', (100.0 * Candidate.where(scholarship: false).count / Candidate.count).round]
            ]%>
    </div>
    <div class="col-md-6">
        <h3>Types de bacs</h3>
        <%= pie_chart Baccalaureat.root.map { |b| 
            percent = 100.0 * b.inherited_candidates.count / Candidate.count
            [b.to_s, percent.round]
        } %>
    </div>
</div>

<div id="sunburst"></div>
<script type="text/javascript">
<%
data = [
    {
    id: '0',
    parent: '',
    name: 'Candidats'
    }
]
Baccalaureat.all.each { |baccalaureat|
    data << {
      id: baccalaureat.id.to_s,
      parent: baccalaureat.parent_id ? baccalaureat.parent_id.to_s : '0',
      name: baccalaureat.title,
      value: baccalaureat.inherited_candidates.count
    }
}
%>
// Splice in transparent for the center circle
Highcharts.getOptions().colors.splice(0, 0, 'transparent');

Highcharts.chart('sunburst', {

  chart: {
    height: '100%'
  },

  title: {
    text: 'Baccalauréats'
  },
  series: [{
    type: "sunburst",
    data: <%= data.to_json.html_safe %>,
    allowDrillToNode: true,
    cursor: 'pointer',
    dataLabels: false,
    levels: [{
      level: 1,
      levelIsConstant: false,
      dataLabels: {
        filter: {
          property: 'outerArcLength',
          operator: '>',
          value: 64
        }
      }
    }, {
      level: 2,
      colorByPoint: true
    },
    {
      level: 3,
      colorVariation: {
        key: 'brightness',
        to: -0.5
      }
    }, {
      level: 4,
      colorVariation: {
        key: 'brightness',
        to: 0.5
      }
    }]

  }],
  tooltip: {
    headerFormat: "",
    pointFormat: '{point.value} {point.name}'
  }
});
</script>