<% content_for :title, 'Statistiques' %>

<h1>Statistiques</h1>

<h2>Candidatures</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Boursiers</h3>
        <%= pie_chart [
            ['Boursiers', (100.0 * Candidate.where(scholarship: true).count / Candidate.count).round],
            ['Non boursiers', (100.0 * Candidate.where(scholarship: false).count / Candidate.count).round]
            ]%>
    </div>
    <div class="col-md-6">
        <h3>Types de bacs</h3>
        <%= pie_chart Baccalaureat.root.map { |b| 
            percent = 100.0 * b.inherited_candidates.count / Candidate.count
            [b.to_s, percent.round]
        } %>
    </div>
</div>
<hr/>