<p>
  <strong>Scholarship bonus:</strong>
  <%= @setting.evaluation_scholarship_bonus %>
</p>

<p>
  <strong>Interview number of candidates:</strong>
  <%= @setting.interview_number_of_candidates %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %>