<% content_for :title, 'Mes candidats' %>
<h1>Mes candidats</h1>

<h2>A faire</h2>
<%= render 'table', candidates: @candidates_todo, param_name: :page_todo %>

<h2>Fait</h2>
<%= render 'table', candidates: @candidates_done, param_name: :page_done %>
