<% content_for :title, 'Sélection' %>

<form action="<%= candidates_selections_path %>" class="mt-3 mb-3">
  <input  class="form-control"
          type="text"
          placeholder="Recherche"
          name="search"
          value="<%= params[:search] %>">
</form>

<%= render 'candidates/table', candidates: @candidates %>
